/* This file is used in every page. Using javascript to link it automatically */
/* Could actually use js to add everything...that way wouldn't be static */
body {
  background-color: #38234d;
  margin: 0 0.5rem 0 0.5rem;
  height: 100vh;
  color: #ffffff;
  p {
    font-size: 24px;
  }
  img {
    width: 50vw;
    align-items: center;
  }
}
div {
  width: 100vw;
  align-items: center;
  img {
    display: block;
    margin: auto;
  }
}

/* Adjust for smaller screens */
@media (width < 600px) {
  #projects {
    display: grid;
    article {
      width: 95vw;
    }
  }
  #header-bar {
    display: block;
    text-align: center;
  }
  #main-nav {
    display: grid;
  }
}
/* The nav element with this class gets created with js */
#main-nav {
  gap: 1rem;
  a {
    font-size: 2em;
  }
}

/* Created via js to house the title and nav */
#header-bar {
  justify-content: space-between;
  align-items: baseline;
}

/* The h1 element with this id gets created with js, displays on every page */
#page-title {
  margin: 0;
  font-size: 3em;
}

/* Anything with this class has its children "flexed". */
.flex-enabled {
  display: flex;
}

a {
  text-decoration: none;
  color: #f0f8ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* A "card" expecting an h2 title, image, p tag(s) and <a>*/
article {
  word-wrap: break-word;
  background-color: #8541c9;
  width: 40vw;
  max-height: fit-content;
  margin: 1rem 1rem 1rem 1rem;
  border: 3px solid #000000;
  h2 {
    background-color: #5d2496;
    margin: 0;
    text-align: center;
  }
  img {
    width: 100%;
    /* Some style to keep image small to fit in card */
  }
  a {
    background-color: #5d2496;
    width: stretch;
    display: block;
    text-align: center;
    font-weight: bolder;
  }
  p {
    margin: 0.5rem 0.1rem 0.5rem 0.5rem;
  }
}

.grid-enabled {
  display: grid;
}

/* Projects in the portfolio page */
#projects {
  /* grid-template-columns: repeat(2, 1fr); */
  flex-direction: row;
  flex-wrap: wrap;
}

#interests {
  grid-template-columns: repeat(2, 1fr);
}

/* Contact boxes and labels */
form {
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  label {
    font-size: 24px;
  }
  input,
  textarea {
    background-color: #190929;
    color: white;
    width: 98vw;
  }
  textarea {
    height: 40vh;
  }
}
